<div class="form-group">
  <h3 class="d-inline-block">Notes</h3><span class="link-style ml-2" href="#" onclick="return false;" (click)="bulkAdd=!bulkAdd">bulk add</span>
  <div *ngIf="!bulkAdd; else showBulkAdd">
	  <app-list-group [items]="notes" (updated)="noteBox.focus()"></app-list-group>
	  <div class="input-group mt-3">
	    <input #noteBox type="text" class="form-control" id="noteBox" placeholder="Notes..." tabindex="4" (keyup.enter)="addNote(noteBox.value); noteBox.value=''">
	    <button type="button" class="btn btn-primary input-group-append" tabindex="4" (click)="addNote(noteBox.value); noteBox.value=''">Add Note</button>
	  </div>
	</div>
	<ng-template #showBulkAdd class="input-group mt-3">
    <app-bulk-add-form [category]="'Notes'" [items]="notes" (added)="addNotes($event); bulkAdd=!bulkAdd"></app-bulk-add-form>
  </ng-template>
</div>